@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.849);
   
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */
.nav {
    width: 100%;
    height: 50px;
    position: fixed;
    line-height: 50px;
    text-align: center;
    background-color: #C6011F;
    /* box-shadow: 0 0px 50px rgba(255, 255, 255, 0.3); */
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #353940;
}

.nav div.main_list {
    height: 50px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 50px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #061E42;
}


/* Home section */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/landing.jpg);
    background-position: center top;
    background-size:cover;
}

#perf{
   padding-top: 200px; 
    
}


.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#landing-text {
    margin: 0;
    color: white;
    font-size: 55px;
    text-shadow: 3px 3px black;
    
}

#landing-button {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.5s;
}
#landing-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(48, 48, 48, 0.8);
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.main_list ul li a:hover {
        color: rgb(184, 187, 195);
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.make-transparent {
    background-color: transparent;
}

.affix {

    background-color: #C6011F;
}

.myH2 {
	text-align:center;
    font-size: 4rem;
    margin: 0;
    margin-top: 50px;
    
}
.myP {
	text-align: justify;
	padding: 0 15% 100px 15%;
    margin: 0;
	font-size: 20px;
}
.welcome-paragraph {
    overflow: hidden;
    background: #E2E2E2;
    /* background: linear-gradient(90deg, rgba(149,133,61,1) 0%, rgba(249,233,173,1) 100%); */
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* Cards */
.cards-section {
    /* background: rgb(168,167,159);
    background: linear-gradient(90deg, rgba(168,167,159,1) 0%, rgba(68,67,65,1) 100%); */
    background-color:  rgba(0, 0, 0, 0.849);
    padding-bottom: 10rem;
}
.cards-title {
    padding-top: 130px;
    width: 85%;
    height: 100px;
    margin: 0 auto;
}
.cards-title h2 {
    float: left;
    font-size: 4rem;
    color: white;
}
.cards-container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 200px;
}
.card {
    margin-right: 10px;
    width: 500px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/cardPlaceholder.jpg');
}
#last-card {
    margin-right: 0;
}
.scroll-pane {
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    padding-bottom: 15px;
    -ms-overflow-style: scroll;
    scrollbar-width: none; 
}
#slide, #slideBack {
    border: none;
    height: 320px;
    line-height: 320px;
    width: 35px;
    background-color: rgba(24, 24, 24, 0.97);
    border: 1px solid rgba(128, 128, 128, 0.801);
    color: white;
}
#slideBack {
    margin-right: 4px;
}
#slide {
    margin-left: 4px;
}
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.scroll-pane::-webkit-scrollbar { 
  display: none;
}
.icons {
    color: white;
}
.card-button {
    float: right;
    margin: 250px 15px 0 0;
    font-size: 26px;
    color: white;
    background-color:  rgba(24, 24, 24, 0.97);
    width: 250px;
    height: 60px;
    line-height: 60px;
    transition-duration: 0.5s;
}
.card-button:hover {
    background-color:  rgba(48, 48, 48, 0.97);
}
#arts {
    background-image: url('../assets/artsCard.jpg');
}
#sports {
    background-image: url('../assets/sportsCard.jpg');
}
#breweries {
    background-image: url('../assets/breweryCard.jpg');
}
#amusement {
    background-image: url('../assets/amusementCard.jpg');
}
#animals {
    background-image: url('../assets/animalCard.jpg');
}
/* Cards */